.dn{
    display: none;
}

.db{
    display: block;
}
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}



.colorsix {
    background: rgb(251, 177, 104);
}

.colorfour {
    background: rgb(162, 133, 197);
}



.colortwo {
    background: rgb(104, 202, 182);

}
.colorone {
    background: rgb(102, 105, 129);

}



.colorfive {
    background: rgb(34, 186, 155);
}

.colorthree {
    background: rgb(225, 118, 149);
}


.small-box {
    border-radius: 3px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color:#fff;
}

.small-box>.inner {
    padding: 10px;
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: rgb(255, 255, 255);
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}


.small-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: 21px;
    right: 10px;
    z-index: 0;
    font-size: 33px;
    color: rgb(255, 255, 255);
}




.box.box-primary {
    border-top-color: rgb(60, 141, 188);
}

.box {
    position: relative;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border-top: 3px solid rgb(210, 214, 222);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    .box-header {
        color: rgb(68, 68, 68);
        display: block;
        padding: 10px;
        position: relative;

        .box-title {
            display: inline-block;
            font-size: 18px;
            margin: 0;
            line-height: 1;
        }
    }
    .box-header.with-border {
        border-bottom: 1px solid rgb(244, 244, 244);
    }

    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;

        .products-list {
            list-style: none;
            margin: 0;
            padding: 0;

            .item {
                -webkit-box-shadow: none;
                box-shadow: none;
                border-radius: 0;
                border-bottom: 1px solid rgb(244, 244, 244);
                padding: 7px 0;
                background: rgb(255, 255, 255);

                .product-img {
                    float: left;
                    i{
                        font-size: 20px;
                        color:#c5d2cd;
                    }
                }
            }

            .product-info {
                margin-left: 40px;
                h4{
                    margin: 0;
                    padding: 0;
                }

            }

        }
    }
}





